
<html>
    <head>  
        <title>NarutoFanPage</title>
        <body>
           The best anime of all time <a heref="/NarutoFanPage">Check it out</a>
           <h1>Naruto Fan Page </h1> 
           <p>This is a fan site for Naruto</p>
        
        
        <% inclide('navbar.ejs)%>
        
        </body>

    </head>
  
</html>